@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer tailwindBase, mantine, mantine-datatable, tailwindComponents, tailwindUtilities;

@layer tailwindBase {
  @tailwind base;
  :root {
    --h-toolbar: 4.2rem;
    --h-content: calc(100vh - var(--h-toolbar));
    --w-action-btn: 7rem;
    --w-sidebar: 210px;
    --w-scrollbar: 5px;
  }
}

@layer tailwindComponents {
  @tailwind components;
  *::-webkit-scrollbar-track {
    @apply bg-gray-3/50 dark:bg-gray-8/50 rounded-sm;
  }

  *::-webkit-scrollbar {
    @apply rounded-sm;
    width: var(--w-scrollbar);
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-black/30 hover:bg-black/40 dark:bg-white/30 dark:hover:bg-white/40;
  }
}

@layer tailwindUtilities {
  @tailwind utilities;
}

body {
  font-family: 'Onest', sans-serif;
}
